click             
colorama          
defusedxml        
Flask             
Flask-Login       
Flask-OpenID      
Flask-WTF         
flup              
itsdangerous      
Jinja2            
MarkupSafe        
pip               
psycopg2          
python3-openid    
pytz              
setuptools        
typing_extensions 
tzdata            
uuid              
Werkzeug
WTForms